body {
	background: url('bg.jpeg') fixed center center no-repeat;
	background-size: cover;
	width: 100%;
	color: white;
}
#receiver {
	position: relative;
}
#emitter {
	position: absolute;
	bottom: 0;
	right: 0;
}
